<h1>Bag & Board</h1>
<br>
<h4>Sign Up For Your Account!</h4><br>
<form action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br><br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br><br>
    <input type="submit" value="Create Account">
</form>